<div class="header-top">
    <div class="img-container">
        <a href="#">
            <img src="../../assets/splendidd-logo-before.png" alt="">
        </a>
    </div>
    
</div>
<header>
    <div class="nav-container">
        <nav class="link-wrapper">
            <ul>
                <li>
                    <a routerLink="/article/tech" routerLinkActive="active" class="top-element">Tech</a>
                    <ul class="dropdown-items">
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Smartphones</a></li>
                        <li><a href="#">Speakers</a></li>
                        <li><a href="#">Smart Watches</a></li>
                        <li><a href="#">Printers</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Gaming</a></li>
                        <li><a href="#">Headphones</a></li>
                        <li><a href="#">Lighting</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/article/furniture" routerLinkActive="active" class="top-element">Furniture</a>
                    <ul class="dropdown-items">
                        <li><a href="#">Living Room</a></li>
                        <li><a href="#">Bedroom</a></li>
                        <li><a href="#">Small Spaces</a></li>
                        <li><a href="#">Kitchen & Dining</a></li>
                        <li><a href="#">Outdoor</a></li>
                        <li><a href="#">Office</a></li>
                        <li><a href="#">Bathroom</a></li>
                        <li><a href="#">Pet</a></li>
                        <li><a href="#">Game Rooms</a></li>
                    </ul>
                </li>
                <li><a routerLink="/article/pets" routerLinkActive="active" class="top-element">Pets</a></li>
                <li><a routerLink="/article/toys" routerLinkActive="active" class="top-element">Toys</a></li>
                <li><a routerLink="/article/thing" routerLinkActive="active" class="top-element">Thing</a></li>
                <li><a routerLink="/article/thing" routerLinkActive="active" class="top-element">Thing</a></li>
                <li class="menu-icon"><a href="#"><i class="fa fa-bars"></i></a></li>
            </ul>
        </nav>
    </div>
</header>