<div class="header-top">
</div>
<header>
    <div class="nav-container">
        <nav class="row-wrapper">
            <div class="row">
                <a href="">
                    <h1 class="cool">
                        daffodil
                    </h1>
                </a>
            </div>
            <div class="row right">
                <ul>
                    <li>
                        <a routerLink="/products" routerLinkActive="active" class="top-element">Products</a>
                        <ul class="dropdown-items">
                            <li><a href="home">Carbon Offsetting Marketplace</a></li>
                            <li><a href="#">Visualize your Impact</a></li>
                            <li><a href="#">Emissions Calculator</a></li>
                            <li><a href="#">Sustainability Education</a></li>
                            <li><a href="#">Marketing your Impact</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/article/pets" routerLinkActive="active" class="top-element">Our Mission</a>
                        <ul class="dropdown-items">
                            <li><a href="#">Climate Impact</a></li>
                            <li><a href="#">About Team daffodil&reg;</a></li>
                            <li><a href="#">Join our Team!</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/article/pets" routerLinkActive="active" class="top-element">Resources</a></li>
                    <li><a routerLink="/home" routerLinkActive="active" class="top-element">Login</a></li>
                    <li><a routerLink="/article/pets" routerLinkActive="active" class="top-element">Join for Free</a></li>

                    <li class="menu-icon"><a href="#"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            
        </nav>
    </div>
</header>