<div class="header-top">
    <h1><a style="font-weight:100">Buy</a>Splendid</h1>
</div>
<header>
    <div class="nav-container">
        <nav class="link-wrapper">
            <ul>
                <li>
                    <a href="#">Tech</a>
                </li>
                <li>
                    <a href="#">Furniture</a>
                    <ul class="dropdown-items">
                        <li><a href="#">Living Room</a></li>
                        <li><a href="#">Bedroom</a></li>
                        <li><a href="#">Small Spaces</a></li>
                        <li><a href="#">Kitchen & Dining</a></li>
                        <li><a href="#">Outdoor</a></li>
                        <li><a href="#">Office</a></li>
                        <li><a href="#">Bathroom</a></li>
                        <li><a href="#">Pet</a></li>
                        <li><a href="#">Game Rooms</a></li>
                    </ul>
                </li>
                <li><a href="#">Pets</a></li>
                <li><a href="#">Toys</a></li>
                <li><a href="#">Thing</a></li>
                <li><a href="#">Thing</a></li>
                <li class="menu-icon"><a href="#"><i class="fa fa-bars"></i></a></li>
            </ul>
        </nav>
    </div>
</header>