<div class="footer-top">

</div>
<div class="footer-content container">
    <div class="wrapper">
        <div class="supported-by">
            <p>Supported by</p>
        </div>
        <div class="stack-items">

            <div class="item">
                <ul>
                    <li><a href=""><b>Products</b></a></li>
                    <li><a href="">Carbon Offsetting Marketplace</a></li>
                    <li><a href="">Visualize your Impact</a></li>
                    <li><a href="">Emissions Calculator</a></li>
                    <li><a href="">Sustainability Education</a></li>
                    <li><a href="">Marketing your Impact</a></li>
                </ul>
                <ul>
                    <li><a href=""><b>Our Mission</b></a></li>
                    <li><a href="">Climate Impact</a></li>
                    <li><a href="">Join our Team!</a></li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li><a href=""><b>Tools</b></a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Products</a></li>
                </ul>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">Impact</a></li>
                </ul> 
            </div>
            <div class="item">
                <img src="../../../assets/sunflower-2.jpeg" alt="earth">
            </div>

            <div class="item">
                <ul>
                    <li>Daffodil LLC</li>
                    <li>620 Frederick St</li>
                    <li>Royal Oak, MI 48067</li>
                    <li></li>
                </ul>  
            </div>
        </div>
        <p class="copyright">&copy;2023 Daffodil All rights reserved</p>
        <p><a href="https://www.flaticon.com/free-icons/house" title="house icons">House icons created by iconixar - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/market" title="market icons">Market icons created by mynamepong - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/market-share" title="market share icons">Market share icons created by juicy_fish - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/calculator" title="calculator icons">Calculator icons created by srip - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/track" title="track icons">Track icons created by Freepik - Flaticon</a></p>
    </div>
</div>
