@import '../../../assets/global-styles/colors.scss';

img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
  }

.container {
  padding-bottom: 200px;
  background-color: $light-blue;
  z-index: 1;
  position: relative;
}
