<div class="container">
    <div class="wrapper center">
        <div class="stack-items">
            <div class="item emissions-card">
                <p>
                    2023 Carbon Emissions 
                </p>
                <h1>
                    6,540 MT CO2e
                </h1>
                <a href="" class="bottom-text"><p class="how">How did we get here?</p></a>
                
            </div>
            <div class="item emissions-card target-card">
                <p>
                    2024 Targeted Carbon Emissions 
                </p>
                <h1>
                    5,500 MT CO2e
                </h1>
                <a href="" class="bottom-text"><p class="how">How do we get here?</p></a>
            </div>
        </div>
        
    </div>
    
</div>