.wrapper {
    width: 65%;
}
.item {
    margin-bottom: 150px;
}

img {
    max-height: 300px;
    max-width: 100%;
}
p {
    text-align: left;
}
h2 {
    text-align: left;
    margin-top: 0;
}

@media screen and (max-width: 1700px) {
    .wrapper {
        width: 90%;
    }
    .item {
        margin-bottom: 25px;
    }
  }