<div class="container">
    <div class="wrapper track">
        <div class="stack-items">
            <div class="item">
                <img src="../../../assets/dummy-saas-5.png" alt="earth">
            </div>
            <div class="item">
                <h2>
                    1. Track
                </h2>
                <p>
                    Embrace the opportunity to become a trailblazer in your industry by proactively addressing climate change.
                </p>
            </div>
            <div class="item">
                <img src="../../../assets/dummy-saas-6.png" alt="earth">
            </div>
            <div class="item">
                <h2>
                    2. Reduce
                </h2>
                <p>
                    Effortlessly monitor and manage your carbon emissions with our cutting-edge technology.
                </p>
            </div>
            <div class="item">
                <img src="../../../assets/dummy-saas-5.png" alt="earth">
            </div>
            <div class="item">
                <h2>
                    3. Act
                </h2>
                <p>
                    Boost your sales by showcasing your commitment to the environment.
            </div>
        </div>
    </div>
</div>
