<div class="container">
    <div class="wrapper">
        <div class="stack-items">
            <div class="item">
                <img src="../../../assets/dummy-saas-2.png" alt="earth">
            </div>
            <div class="item">
                <h2>
                    Become a leader in your industry by taking action to improve our climate
                </h2>
                <p>
                    Embrace the opportunity to become a trailblazer in your industry by proactively addressing climate change.
                </p>
            </div>
            <div class="item">
                <img src="../../../assets/dummy-saas-3.png" alt="earth">
            </div>
            <div class="item">
                <h2>
                    Easily track your carbon emissions with our state of the art technology
                </h2>
                <p>
                    Effortlessly monitor and manage your carbon emissions with our cutting-edge technology.
                </p>
            </div>
            <div class="item">
                <img src="../../../assets/dummy-saas-4.png" alt="earth">
            </div>
            <div class="item">
                <h2>
                    Drive sales with your contributions to the climate
                </h2>
                <p>
                    Boost your sales by showcasing your commitment to the environment.
            </div>
        </div>
    </div>
</div>
