@import '../../../assets/global-styles/colors.scss';
.wrapper {
    width: 65%;
}
.container {
    padding-top: 150px;
    background-color: $light-light-blue;
    color: $dark-blue;
}
.item {
    margin-bottom: 50px;
}

img {
    max-height: 500px;
    max-width: 100%;
}
p {
    text-align: left;
}
h2 {
    text-align: left;
    margin-top: 0;
}

@media screen and (max-width: 1700px) {
    .wrapper {
        width: 90%;
    }
    .item {
        margin-bottom: 25px;
    }
  }