<div class="container">
    <div class="wrapper">
        <div>
            <h1 class="section-title">
                Explore our expanding list of climate action products
            </h1>
        </div>
        <p class="section-text">
            Accelerate your engagement in the movement towards achieving net-zero carbon emissions by leveraging the full potential of our cutting-edge products.
        </p>
        <div class="">
            <product-card class="center" [productCard]="productCard1"></product-card>
            <product-card class="center" [productCard]="productCard2"></product-card>
            <product-card class="center" [productCard]="productCard3"></product-card>
            <product-card class="center" [productCard]="productCard4"></product-card>
            <product-card class="center" [productCard]="productCard5"></product-card>
        </div>
    </div>
    
</div>
