@font-face {
    font-family: 'Cool';
    src: url('../assets/fonts/coolvetica-reg.otf') format('truetype');
    /* Add other font formats if necessary */
  }

  @font-face {
    font-family: 'Galano';
    src: url('../assets/fonts/GalanoGrotesqueRegular.otf') format('truetype');
    /* Add other font formats if necessary */
  }