<div class="container">
    <div class="wrapper">
        <div class="title center">
            <h1>Five sofas that we love this spring</h1>
        </div>

        <div class="stack-cards">
            
            <a routerLink="/article/tech" routerLinkActive="active" class="card card-article">
                <div class="card-container">
                  <div class="center">
                    <img src="https://m.media-amazon.com/images/I/51FIKAfgc8L._AC_.jpg" alt="Avatar" style="width:100%">
                  </div>
                  <h4><b>Pros</b></h4>
                </div>
              </a>
    
            <a routerLink="/article/furniture" routerLinkActive="active" class="card card-article">
                <div class="card-container">
                  <div class="center">
                    <img src="https://m.media-amazon.com/images/I/71GuE+NfnjL._AC_SX679_.jpg" alt="Avatar" style="width:100%">
                  </div>
                  <h4><b>Cons</b></h4>
                  <p> information information informationinformation information informationinformation information</p>
                </div>
              </a>
            <div class="card card-article">
                <div class="card-container">
                  <div class="center">
                    <img src="https://m.media-amazon.com/images/I/71SFQpnYoQL._AC_SX342_.jpg" alt="Avatar" style="width:100%">
                  </div>
                  <h4><b>Cons</b></h4>
                  <p> information information informationinformation information informationinformation information</p>
                </div>
            </div>
            <div class="card card-article">
                <div class="card-container">
                  <div class="center">
                    <img src="https://m.media-amazon.com/images/I/71Xphy9CoJL._AC_SY300_SX300_.jpg" alt="Avatar" style="width:100%">
                  </div>
                  <h4><b>Cons</b></h4>
                  <p> information information informationinformation information informationinformation information</p>
                </div>
            </div>
            <div class="card card-article">
                <div class="card-container">
                  <div class="center">
                    <img src="https://m.media-amazon.com/images/I/71GuE+NfnjL._AC_SX679_.jpg" alt="Avatar" style="width:100%">
                  </div>
                  <h4><b>Cons</b></h4>
                  <p> information information informationinformation information informationinformation information</p>
                </div>
            </div>
    
        </div>

    </div>
    
</div>
