<side-menu></side-menu>
<div class="customer-view-wrapper">
    <h1>
        Home
    </h1>
    <div class="space"></div>
    <div class="top-note">
        <img src="../../../assets/earth-vector.png" alt="eco" class="icon">
        <p>
            Welcome to your daffodil home base! Here you can learn more about how daffodil can help you reach your climate goals and find answers to any questions you might have.
        </p>
    </div>
    <!-- <div class="top-note">
        <img src="../../../assets/eco-light-vector.png" alt="eco-light" class="icon">
        <p>
            You also have the option to setup payments on a <a href="" class="link">recurring schedule</a>.
        </p>
    </div> -->
</div>