<side-menu></side-menu>
<div class="customer-view-wrapper">
    <h1 class="top-title">
        Dashboard
    </h1>
    <div class="space"></div>
    <div class="center fade-in-rise">
        <div class="top-note">
            <img src="../../../assets/earth-vector.png" alt="eco" class="icon">
            <p>
                Welcome to your daffodil home base!
            </p>
        </div>
    </div>
    <div class="space"></div>
    <emissions-view></emissions-view>
    <div class="space"></div>
    <quarter-data></quarter-data>


</div>